# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Django
db.sqlite3
db.sqlite3-journal
backend/data/

# ML
backend/ml_models/*.pkl

# Node
node_modules/
dist/
.vite/

# IDE / OS
.idea/
.vscode/
.DS_Store
*.swp

# Logs
*.log
